        <!-- Global Site Tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-107372955-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments)};
          gtag('js', new Date());

          gtag('config', 'UA-107372955-1');
        </script>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/stylesheets/main.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

    </head>
    <body>

    <div id="fb-root"></div>
    <script>
        window.fbAsyncInit = function() {
        FB.init({appId: '1087922281309246', status: true, cookie: true,
                xfbml: true});
        };
        (function() {
        var e = document.createElement('script'); e.async = true;
        e.src = document.location.protocol +
        '//connect.facebook.net/en_US/all.js';
        document.getElementById('fb-root').appendChild(e);
        }());
    </script>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>                        
                </button>
                <a class="navbar-brand" href="/">Menacion</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-left">
                    <li><a href="/chistes">Chistes</a></li>
                    <li><a href="/deportes">Deportes</a></li>
                    <li><a href="/mujeres">Mujeres</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
               <% if(!currentUser){ %>
                    <li><a href="/login">Iniciar sesion</a></li>
                    <li class="uploadli"><a href="/register" id="primary-cta">Unite</a></li>
               <% } else { %>
                   <li class="profile-mobile"><a href="/profile" class="profile-mobile-a"><img src="<%= currentUser.avatar %>" alt="" class="user_avatar"><%= currentUser.username %></a></li>
                   <li id="username">
                        <a href=#><%= currentUser.username %></a>
                   </li>
                   <li class="dropdown"><a href="#" class="avatar-container dropdown-toggle" data-toggle="dropdown"><img src="<%= currentUser.avatar %>" alt="" class="user_avatar"></a>
                   <ul class="dropdown-menu">
                       <li><a href="/profile/<%= currentUser.id %>">Mi perfil</a></li>
                       <li><a href="/logout">Cerrar sesion</a></li>
                   </ul>
                   </li>
                   <li class="uploadli"><a href="#myModal" id="primary-cta" role="button" class="btn-upload" data-toggle="modal">Subir +</a></li>
               <% } %>
                </ul>
            </div>
        </div>
        
        <div id="myModal" class="modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h3 class="modal-title">Subi tu contenido</h3>
                        <p class="text-explain"><small>Elegi como vas a subir tu contenido</small></p>
                    </div>
                    <div class="modal-body" id="modal-target">
                        <div class="row">
                            <div class="body-half col-sm-4">
                                <a id="create-meme" data-dismiss="modal" href="#modalUpload" data-toggle="modal"><span class="glyphicon glyphicon-arrow-up"></a>
                                <label for="" class="modal-menu-label">Subir un meme<br>(Archivos)</label>
                            </div>
                            <div class="body-half col-sm-4"">
                                <a id="upload-meme" data-dismiss="modal" href="#modalCreate" data-toggle="modal"><span class="glyphicon glyphicon-plus"></a>
                                <label for="" class="modal-menu-label" >Crear un meme<br>(Enlances)</label>
                            </div>
                            <div class="body-half col-sm-4"">
                                <a id="upload-meme" data-dismiss="modal" href="#modalYoutube" data-toggle="modal"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                                <label for="" class="modal-menu-label" >Comparte youtube<br>(iframe)</label>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-red" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="modalUpload" class="modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h3 class="modal-title">Sube tu meme</h3>
                    </div>
                    <div class="modal-body" id="modal-target">
                        <form method="POST" action="/" enctype="multipart/form-data"  style="width: 80%; margin: 30px auto;">
                            <div class="form-group">
                                <label for="">Titulo</label>
                                <input class="form-control" type="text" name="title" placeholder="Title">
                            </div>
                            <div class="form-group" style="border: 1px solid #ccc; padding: 5px; border: inset 0 1px 1px rgba(0,0,0,.075); border-radius: 5px;">
                                <label for="file-upload-meme">Suba su meme</label>
                                <input id="file-upload-meme" type="file" name="gag">
                                <span id='upload-status'></span>
                                <div id="progress_bar"><div class="percent">0%</div></div>
                            </div>
                            <div class="form-group">
                                <label for="">Elija la categoria de su contenido</label>
                                <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect" style="width: 100%;">
                                    <option value="Chistes">Chistes</option>
                                    <option value="Deportes">Deportes</option>
                                    <option value="Mujeres">Mujeres</option>
                                </select>
                            </div>
                            <div class="form-group">
                                 <button class="btn btn-lg btn-primary btn-block">Crear!</button>
                            </div>
                        </form>
                    </div>    
                    <div class="modal-footer">
                        <a type="button" class="btn btn-red" href="#myModal" data-toggle="modal" data-dismiss="modal">Atras</a>
                    </div>
                </div>
            </div>
        </div>


        <div id="modalCreate" class="modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h3 class="modal-title">Crea tu meme</h3>
                        <p class="text-explain"><small>Siga las instrucciones</small></p>
                    </div>
                    <div class="modal-body" id="modal-target"  style="width: 90%; margin: 0px auto;">
                        <h5><strong>Como crear un meme</strong></h5>
                        <ul>
                            <li><strong>1.</strong> Accesa a una pagina que genera memes como <a href="http://memeful.com/generator" target="_blank">memeful</a>, <a href="http://imgur.com/memegen" target="_blank">imgur</a> y siga las instruciones de la pagina. Si busca un GIF, ingresa a <a href="https://giphy.com" arget="_blank">giphy</a>.</li>
                            <li><strong>2.</strong> Despues de terminar tu meme, presione click derecho a su meme y haga click en "Copiar enlace de la imagen".</li>
                            <li><strong>3.</strong> Pegue el link en la casilla "Agregar el link" que esta abajo de esta ventana.</li>
                        </ul>
                    </div>
                    <h5 style="width: 90%; margin: 0px auto; margin-bottom: 10px"><strong>Publique tu meme</strong></h5>
                    <div class="modal-body" id="modal-target">
                        <form method="POST" action="/links" style="width: 80%; margin: 0px auto;">
                            <div class="form-group">
                                <label for="">Titulo</label>
                                <input class="form-control" type="text" name="title" placeholder="Title">
                            </div>
                            <div class="form-group">
                                <label for="">Agregue el enlace</label>
                                <input class="form-control" type="text" name="url" placeholder="Enlace">
                            </div>
                            <div class="form-group">
                                <label for="">Elija la categoria de su contenido</label>
                                <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect" style="width: 100%;" name="category">
                                    <option value="Chistes">Chistes</option>
                                    <option value="Deportes">Deportes</option>
                                    <option value="Mujeres">Mujeres</option>
                                </select>
                            </div>
                            <div class="form-group">
                                 <button class="btn btn-lg btn-primary btn-block">Crear!</button>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <a type="button" class="btn btn-red" href="#myModal" data-toggle="modal" data-dismiss="modal">Atras</a>
                    </div>
                </div>
            </div>
        </div>

        <div id="modalYoutube" class="modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h3 class="modal-title">Comparte un video de youtube</h3>
                        <p class="text-explain"><small>Siga las instrucciones</small></p>
                    </div>
                    <div class="modal-body" id="modal-target"  style="width: 90%; margin: 0px auto;">
                        <h5><strong>Como compartir un video de youtube</strong></h5>
                        <ul>
                            <li><strong>1.</strong> Haga click el boton "Compartir", luego "Incorporar".</li>
                            <li><strong>2.</strong> Copie el enlace que comienza que aparece.</li>
                            <li><strong>3.</strong> Pegue el link en la casilla "Agregar el link" que esta abajo de esta ventana.</li>
                        </ul>
                    </div>
                    <h5 style="width: 90%; margin: 0px auto; margin-bottom: 10px"><strong>Comparta el video</strong></h5>
                    <div class="modal-body" id="modal-target">
                        <form method="POST" action="/youtube" style="width: 80%; margin: 0px auto;">
                            <div class="form-group">
                                <label for="">Titulo</label>
                                <input class="form-control" type="text" name="title" placeholder="Title">
                            </div>
                            <div class="form-group">
                                <label for="">Agregue el enlace</label>
                                <input class="form-control" type="text" name="url" placeholder="Enlace">
                            </div>
                            <div class="form-group">
                                <label for="">Elija la categoria de su contenido</label>
                                <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect" style="width: 100%;" name="category">
                                    <option value="Chistes">Chistes</option>
                                    <option value="Deportes">Deportes</option>
                                    <option value="Mujeres">Mujeres</option>
                                </select>
                            </div>
                            <div class="form-group">
                                 <button class="btn btn-lg btn-primary btn-block">Crear!</button>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <a type="button" class="btn btn-red" href="#myModal" data-toggle="modal" data-dismiss="modal">Atras</a>
                    </div>
                </div>
            </div>
        </div>

    </nav>
    
    <div class="container">
        <% if(errormsg && errormsg.length > 0) { %>
        <div class="alert alert-danger" role="alert"><%= errormsg %></div>
        <% } %>
        <% if(successmsg && successmsg.length > 0) { %>
        <div class="alert alert-success" role="alert"><%= successmsg %></div>
         <% } %>
    </div>
    